In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('SimpsonsRatings.csv')

In [6]:
data2 = pd.read_csv('/Users/juliatsymbal/Downloads/episodes-11.01.2023-postgres(1).csv')

### Completeness check



Calculating the number of NaN for each column

In [4]:
episodes_nan = pd.DataFrame(data.isna().sum(), columns=['Total NaN'])
episodes_nan

                         Total NaN
imdb_url                         0
season                           0
episode_number_relative          0
episode_number_absolute          0
title                            0
airdate                          0
rating                           0
reviews_amount                   0



Calculatin the percentage of NaN for each column

In [5]:
episodes_nan['% NaN'] = (episodes_nan['Total NaN']/len(data))*100
episodes_nan = episodes_nan.round(decimals=2)
episodes_nan

                         Total NaN  % NaN
imdb_url                         0    0.0
season                           0    0.0
episode_number_relative          0    0.0
episode_number_absolute          0    0.0
title                            0    0.0
airdate                          0    0.0
rating                           0    0.0
reviews_amount                   0    0.0



Completeness for Fandom Episodes

In [6]:
tot = 0
for item in data.isna().sum():
  tot += item
completezza_tab =1 -(tot /(data.shape[0]*data.shape[1])) 
print(completezza_tab)

1.0

### Consistency

In [7]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   url                      741 non-null    object
 1   title                    741 non-null    object
 2   image_url                739 non-null    object
 3   season                   612 non-null    float64
 4   episode_number_absolute  741 non-null    int64
 5   production_code          737 non-null    object
 6   airdate                  709 non-null    object
 7   main_characters          415 non-null    object
 8   written_by               732 non-null    object
 9   directed_by              737 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 58.0+ KB

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   imdb_url                 739 non-null    object
 1   season                   739 non-null    int64
 2   episode_number_relative  739 non-null    int64
 3   episode_number_absolute  739 non-null    int64
 4   title                    739 non-null    object
 5   airdate                  739 non-null    object
 6   rating                   739 non-null    int64
 7   reviews_amount           739 non-null    int64
dtypes: int64(5), object(3)
memory usage: 46.3+ KB

### Accuracy

In [7]:
imdb_modi = data.copy()

In [8]:
def cleaner(title):
    title = title.lower().replace("'","") \
        .replace('_', "") \
        .replace(',', "") \
        .replace("/","") \
        .replace('(', "") \
        .replace(')', "") \
        .replace("|","") \
        .replace("-"," ") \
        .replace(".","") \
        .replace(':', "") \
        .replace(";","") \
        .replace("+","") \
        .replace("[","") \
        .replace(']', "") \
        .replace("@","") \
        .replace("&","") \
        .replace("’","") \
        .replace("\"","")\
        .replace("$", "")\
        .replace("!", "")
        # .replace("0","").replace("1","") \
        # .replace("2","").replace("3","") \
        # .replace("4","").replace("5","") \
        # .replace("6","").replace("7","") \
        # .replace("8","").replace("9","") \
       
    return title

In [9]:
imdb_modi['title_clean'] = imdb_modi['title'].apply(lambda x: cleaner(x))

data2['title_clean'] = data2['title'].apply(lambda x: cleaner(x))

In [10]:
merged_ep = data2.merge(imdb_modi, on='title_clean', how = 'inner')

In [11]:
not_merged2 = data2.title_clean[~data2.title_clean.isin(merged_ep.title_clean)]

In [12]:
not_merged = imdb_modi.title_clean[~imdb_modi.title_clean.isin(merged_ep.title_clean)]

In [13]:
result = pd.concat([not_merged2, not_merged], axis=1)

In [14]:
result

,title_clean,title_clean
45,burns verkaufen der kraftwerk burns to sell th...,burns verkaufen der kraftwerk
130,home sweet homediddly dum doodily,home sweet home dum diddly doodily
152,summer of 4 ft 2,summer of 42
161,el viaje misterioso de nuestro jomer the myste...,el viaje misterioso de nuestro jomer
170,homer vs the eighteenth amendment,homer vs the 18th amendment
230,e i e i doh,e i e i annoyed grunt
239,alone again natura diddily,alone again natura diddly
251,lisa the tree hugger,lisa the treehugger
256,homя,homr
263,bye bye nerdie,bye bye nerdy
290,poppas got a brand new badge,papas got a brand new badge
293,bart vs lisa vs the third grade,bart vs lisa vs 3rd grade
305,ce doh,cedoh
325,smart and smarter,smart smarter
366,were on the road to doh where,were on the road to dohwhere
377,marge and homer turn a couple play,homer and marge turn a couple play
379,jazzy and the pussycats,jazzy the pussycats
382,gi doh,gi annoyed grunt
386,kill gil volumes i ii,kill gil vol 1 2
392,rome old and julie eh,rome old and juli eh
401,the homer of seville,homer of seville
438,waverly hills 9 0 2 1 doh,waverly hills 9021 doh
448,o brother where bart thou?,oh brother where bart thou?
479,a midsummers nice dream,a midsummers nice dreams
645,krusty the clown episode,krusty the clown
679,warrin priests part one,warrin priests
680,warrin priests part two,warrin priests part 2
697,do pizzabots dream of electric guitars?,do pizza bots dream of electric guitars
710,a serious flanders part one,a serious flanders
711,a serious flanders part two,a serious flanders part 2
739,the many saints of springfield,NaN
740,carl carlson rides again,NaN

In [15]:
pd.DataFrame.to_csv(result, 'not_merged_ep.csv')